<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700414414917-fivpop7ol584cjg6h07jkfrbeg7o08c8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700414414917-fivpop7ol584cjg6h07jkfrbeg7o08c8</string>
	<key>API_KEY</key>
	<string>AIzaSyARmz_mT_GHbEQXZ4e_WfgV2MU46Fmy4aw</string>
	<key>GCM_SENDER_ID</key>
	<string>700414414917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dbtest</string>
	<key>PROJECT_ID</key>
	<string>fir-demoflutter-d0918</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demoflutter-d0918.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700414414917:ios:3ffb78bf85251a5983532c</string>
</dict>
</plist>